@page "/shelfpage"
@using global::Shared.Model
@using BlazerWASM.StateContainer
@using global::Shared.DTOs.Item
@using global::Shared.DTOs.ItemType
@using HttpClients.ClientInterfaces
@inject HttpClient Http

@inject AddNewItemBeginState NewItemBeginState;
@inject IItemService ItemService;
@inject IShelfService ShelfService;
@inject IItemTypeService ItemTypeService;

<h3 class="text-center mb-5">ShelfPage</h3>


<div class="container-fluid mt-3 ">
    <div class="row">
    <div class="col-sm-6">

        <table class="table ">
            <tr>
                <td class="border-1 text-center fw-bold">
                    <label >Vare nummer: @NewItemBeginState.Id</label>
                </td>

            </tr>
            <tr>
                <td><label>antal du skal placere: @NewItemBeginState.Amount</label> </td>
            </tr>
            <tr>
                <td>
                        <label>Vare info : dimX = @_itemType.DimX dimY =@_itemType.DimY dimZ = @_itemType.DimZ</label>
                
                </td>
            </tr>
        </table>
    </div>

    <div class="col-sm-6">
        <table class="table">
            
            <tr class="border-1">
                <th>Shelf ID</th>
                <th>Avalible Capacity</th>
                <th>Input Wished</th>

            </tr>
            
            <tbody>
            @foreach (var item in _glqt.ShelfInfo)
            {

                <tr>
                    <td>@item.ShelfID</td>
                    <td>@item.AvalibleSpace</td>
                    <td><INPUT name="InputWished" type="textfield" placeholder="skriv ønsket mængde"class="border-0" /></td>
                    <td><label></label></td>
                </tr>
            }
            </tbody>
        </table>
        <button type="button" name="klik" onclick="@ButtonReserver()">klik</button>
        @resultMsg
    </div>
</div>
</div>
@code {
    private int? ShelfId;
    private int? AvalibleCapacity;
    private int? InputWished;
     
    private ItemType? _itemType;

    private string resultMsg ="";
    
    






    private ItemRegisterReqiestDto _glqt = new ItemRegisterReqiestDto(0,null);

    public ShelfPage()
    {
      try{
        _itemType = ItemTypeService.ReadAsync(new ItemTypeSearchDto(NewItemBeginState.Id)).Result;
        _glqt = ShelfService.GetAmountOnShelf(new ItemTypeSearchDto(NewItemBeginState.Id)).Result;
      }
      catch (Exception e)
      {
          resultMsg = e.Message;
      }
    }

    private async Task ButtonReserver()
    {
        Thread.Sleep(10);
    }

}