@page "/shelfpage"
@using global::Shared.Model
@using BlazerWASM.StateContainer
@using global::Shared.DTOs
@using global::Shared.DTOs.Item
@using global::Shared.DTOs.ItemType
@using HttpClients.ClientInterfaces
@using System.Reflection.Emit
@using System.Security.Cryptography
@using global::Shared.DTOs.Shelf
@inject HttpClient Http

@inject AddNewItemBeginState NewItemBeginState;
@inject IItemService ItemService;
@inject IShelfService ShelfService;
@inject IItemTypeService ItemTypeService;

<h3 class="text-center mb-5">ShelfPage</h3>


<div class="container-fluid mt-3 ">
    <div class="row">
    <div class="col-sm-6">

        <table class="table ">
            <tr>
                <td class="border-1 text-center fw-bold">
                    <label >Vare nummer: @NewItemBeginState.Id</label>
                </td>

            </tr>
            <tr>
                <td><label>antal du skal placere: @NewItemBeginState.Amount</label> </td>
            </tr>
            <tr>
                <td>
                    @if (_itemType == null)
                    {
                        <label>vare Info hentes</label>
                    }
                    else{
                    <label>Vare info : dimX = @_itemType.DimX dimY =@_itemType.DimY dimZ = @_itemType.DimZ</label>
                    }
                </td>
            </tr>
        </table>
    </div>

    <div class="col-sm-6">
        <table class="table">
            
            <tr class="border-1">
                <th>Shelf ID</th>
                <th>Room For</th>
                <th>Input Wished</th>

            </tr>
            
            <tbody>
            @if (_glqt == null)
            {
                <label>loading ShelfInfo</label>
            }
            else{
            @foreach (AmountOnSpaceDto item in _glqt.ShelfInfo)
            {

                <tr>

                    <td>@item.ShelfID</td>
                    <td>@item.AvalibleSpace</td>
                    <td><INPUT name="InputWished" type="textfield" class="border-0" @bind="AmountChoosen"/></td>
                    <td><label></label></td>

                </tr>
            }
            }

            </tbody>
        </table>
        <button type="button" name="klik" onclick="@ButtonReserver()">klik</button>
        @resultMsg
    </div>
</div>
</div>
@code {
    private int? ShelfId;
    private int? AvalibleCapacity;
    private int? InputWished;
     
    private ItemType? _itemType;

    private string resultMsg ="";

    private int AmountChoosen =0;
    
    
    






    private ItemRegisterReqiestDto _glqt;

    protected override async Task OnInitializedAsync()
    {
      try{
          _glqt = await ShelfService.GetAmountOnShelf(new ItemTypeSearchDto(NewItemBeginState.Id));


      }
      catch (Exception e)
      {
          resultMsg = e.Message;
      }
        try
        {
            _itemType = await ItemTypeService.ReadAsync(new ItemTypeSearchDto(NewItemBeginState.Id));
            
        }
        catch (Exception e)
        {
            resultMsg += e.Message;
        }
    }

    private async Task ButtonReserver()
    {
        List<ShelfAddItemRequestDto> list = new List<ShelfAddItemRequestDto>();

        try
        {
            await ShelfService.AddItemToShelf(list);

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        
        
    }

}